body{
    display: flex;
    background-color:#F7ECDE;
    flex-direction:column;
    align-items: center;
}

::selection{
    background-color:#FEC260;
}
h1{
    font-family: 'Pacifico', cursive;
    margin:60px 0;
    position: relative;
    z-index:555;
    font-size:50px;
}

h1::after {
    content: "";
    position: absolute;
    background-color:#FEC260;
    width: 100%;
    height:30%;
    z-index: -1;
    bottom: 0;
    left:0;
    transition: .3s ;
}

h1:hover::after{ 
    height:70%;
}

.form{
    width:85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px dotted black;
    border-bottom: 2px dotted black;

}

.form h3 {
    padding-top:15px ;
    padding-bottom:30px;
    background:linear-gradient(90deg,rgb(53, 175, 53),#FEC260);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
}

label {
    align-self:self-start;
    padding-bottom:20px;
}

label i {
    padding-right:7px;
}

input {
    width:100%;
    margin-bottom:20px;
    padding:6px;
    outline:none;
    border:none;
    border-radius:8px;
}

#submitBtn {
    margin-bottom:40px;
    padding:5px 50px !important;
}

#deleteAll{
    width:10%;
    display: flex;
    justify-content: center;
}
#deleteAll > button{
    width:100%;
}